*
.linksAnimation {
    position: relative;
    text-decoration: none;
  }
  
  .linksAnimation:after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #000;  /* Adjust the color as needed */
    transition: width 0.9s ease;  /* Adjust the duration and easing as needed */
  }
  
  .linksAnimation:hover:after {
    width: 100%;
  }
  .hireMeAnimation:hover{
    /* color */
  }
  .hireMeAnimation {
    background: transparent;
    color: #000;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
  }
  
  .hireMeAnimation::before {
    content: "";
    position: absolute;
    color: white;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #000;
    transition: left 0.5s ease-in-out;
  }
  
  .hireMeAnimation:hover::before {
    color: white;
    left: 0;
  }
  
  .hireMeAnimation:hover {
    color: #fff;
  }
  

  